<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Customer code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.customer_code %></td>
        <td><%= link_to 'Show', customer, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path , class: "btn btn-success" %>
